{% extends "layout.html" %}

{% block content %}
    <h1>Login Here</h1>
    <form name="login" action="" method="post" nonvalidate>
        <p>
            <p>
                <form>
                    {{ form.submit }}
                </form>
                <label>Login: </label><input type="text">
                <br>
                <input type="submit" name="submit">
            </p>
        </p>
    </form>
    <button><a href="{{ url_for('dungeon') }}" />Login</button>
{% endblock %}